* {
    box-sizing: border-box;
}

.meme-container {
    width: 400px;
    height: 400px;
    padding: 20px;
}


.meme-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;

}

canvas {
    width: 100%;
}
